################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeezDemo/obj/Release/net8.0
/GeezNet/bin/Release
/GeezNet/obj/Release
